
.conte_header {
    background-color: #19217b;
    padding: 20px 30px;
}

.conte_barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ZONAE {
    color: white;
    font-size: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    margin-left: 45px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-menu-link_active {
    background-color: #ff3c82;
    padding: 10px 20px;
    border-radius: 15px;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}


/* footer pie*/


footer {
  background-color: #0a0a23;
  color: white;
  padding: 40px 0;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.con, .conte-footer1, .conte-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ZONAE {
  text-decoration: none;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.lis-conte {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lis-conte li {
  margin: 10px 0;
}

.lis-conte a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 5px 0;
}

.contatar {
  font-size: 20px;
  margin-bottom: 10px;
}

.fa-envelope, .fa-whatsapp, .fa-facebook {
  margin-right: 10px;
}